<div class="font-sans text-gray-800">
    <div class="max-w-6xl mx-auto px-4 py-6">
        <button class="btn btn-sm btn-secondary hover:underline mb-6 inline-block" [routerLink]="'/uhb/matron'">← Back
            to Applications</button>

        <div class="rounded-lg shadow-md p-6">
            <div class="flex justify-between items-center mb-6">
                <h1 class="text-2xl font-bold text-gray-800">Application Details</h1>
                <span class="px-4 py-1 rounded-full text-sm font-semibold badge-warning text-neutral">
                    Pending Room Allocation
                </span>
            </div>

            <div class="mb-8">
                <h3 class="text-lg font-semibold pb-2 border-b border-gray-200 mb-4">
                    Personal Information
                </h3>
                <div class="grid md:grid-cols-2 gap-4">
                    <div>
                        <span class="font-medium text-gray-600">Application ID:</span>
                        <span class="ml-2">APP23456</span>
                    </div>
                    <div>
                        <span class="font-medium text-gray-600">Submission Date:</span>
                        <span class="ml-2">March 10, 2025</span>
                    </div>
                    <div>
                        <span class="font-medium text-gray-600">Student ID:</span>
                        <span class="ml-2">STU12345</span>
                    </div>
                    <div>
                        <span class="font-medium text-gray-600">Student Name:</span>
                        <span class="ml-2">John Smith</span>
                    </div>
                    <div>
                        <span class="font-medium text-gray-600">Gender:</span>
                        <span class="ml-2">Male</span>
                    </div>
                    <div>
                        <span class="font-medium text-gray-600">Year of Study:</span>
                        <span class="ml-2">2nd Year</span>
                    </div>
                </div>
            </div>

            <div class="mb-8">
                <h3 class="text-lg font-semibold pb-2 border-b border-gray-200 mb-4">
                    Needs Assessment Information
                </h3>
                <div class="grid md:grid-cols-2 gap-4">
                    <div>
                        <span class="font-medium text-gray-600">Disabled:</span>
                        <span class="ml-2">No</span>
                    </div>
                    <div>
                        <span class="font-medium text-gray-600">Disability Details:</span>
                        <span class="ml-2">Not Applicable</span>
                    </div>
                    <div>
                        <span class="font-medium text-gray-600">Accommodated within university before:</span>
                        <span class="ml-2">No</span>
                    </div>
                    <div>
                        <span class="font-medium text-gray-600">Accommodation Period:</span>
                        <span class="ml-2">Not Applicable</span>
                    </div>
                </div>
            </div>

            <div class="mb-8">
                <h3 class="text-lg font-semibold pb-2 border-b border-gray-200 mb-4">
                    Accommodation Preferences
                </h3>
                <div class="grid md:grid-cols-2 gap-4">
                    <div>
                        <span class="font-medium text-gray-600">Allocated Hostel:</span>
                        <span class="ml-2">Batian Hostel Residence</span>
                    </div>
                    <div>
                        <span class="font-medium text-gray-600">Hostel Type:</span>
                        <span class="ml-2">Male Hostel</span>
                    </div>
                </div>
            </div>

            <div class="mb-8">
                <h3 class="text-lg font-semibold pb-2 border-b border-gray-200 mb-4">
                    Room Allocation
                </h3>
                <div class="bg-blue-100 rounded-md p-6">
                    <h3 class="text-lg font-semibold text-blue-600 mb-4">Allocate Room</h3>
                    <form id="roomAllocationForm" [formGroup]="allocateRoomForm" (ngSubmit)="onSubmit()" #form="ngForm">
                        <div class="grid md:grid-cols-2 gap-6 mb-4">
                            <div>
                                <label for="roomNo" class="block mb-2 font-medium">Room Number:</label>
                                <select id="roomNo" formControlName="roomNo"
                                    class="w-full px-4 py-2 border border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-blue-500"
                                    required>
                                    <option value="" selected disabled>Select Room Number</option>
                                    <option value="B1">B1</option>
                                    <option value="B1">B2</option>
                                </select>
                                <p *ngIf="allocateRoomForm.get('roomNo')?.invalid && form.submitted" class="text-red-500 text-xs ml-1">
                                    Room Number is required.
                                </p>
                            </div>
                        </div>

                        <app-button [buttonProps]="submitButtonProps" />
                        <!-- <button type="submit"
                            class="bg-blue-500 hover:bg-blue-600 text-white font-medium py-2 px-6 rounded-md focus:outline-none focus:ring-2 focus:ring-blue-500 focus:ring-offset-2">
                            Allocate Room
                        </button> -->
                    </form>
                    <app-toast [showToast]="showToast" [styles]="toastStyles" [alertStyle]="alertStyles"
                        [alertMessage]="alertMessage" />
                </div>
            </div>
        </div>
    </div>
</div>