<h1 class="text-[35px] font-bold text-center">STUDENT APPLICATION DETAILS</h1>
<p class="my-5">View a clear and detailed overview of your application details. All your key information, including application
    period, application status, and any required actions, is
    neatly displayed in an easy-to-read table. With everything organized in one place, this page helps you stay on top
    of your application journey effortlessly.</p>
<app-card [title]="cardTitle" baseStyles="card card-compact bg-base-100 shadow-xl">
    <app-table [TableData]="tableData" />
</app-card>