<h1 class="text-[35px] font-bold">Welcome aboard!</h1>
<p class="my-5">Welcome to the University Hostel Booking Dashboard! This app is your go-to place for all important
    information concerning Hostel Booking and Allocation. Below, you will find your student details as recorded in the
    system. Please verify that the information is accurate to ensure a smooth booking experience. If any details appear
    incorrect, kindly reach out to the administration for assistance.</p>
<app-card [title]="cardTitle" baseStyles="card card-compact bg-base-100 shadow-xl">
    @defer(when tableData()){
    <app-table [data]="tableData()" [columns]="tableColumns" />
    } @placeholder {
        <app-loading [styles]="loadingStyles" />
    }
</app-card>