<h1 class="text-[35px] font-bold text-center">Registration Page</h1>
<p class="my-3">Welcome to the Hostel and Rooms Register page! Here, administrators can seamlessly register hostels and
    rooms,
    making them available for students to book. Ensure all details are accurate to provide a smooth booking experience
    for users.</p>
<div class="flex gap-4 my-4">
    <button class="btn btn-secondary btn-sm" (click)="toggleRegisterHostelVisibility()">Register Hostel</button>
    <button class="btn btn-secondary btn-sm" (click)="toggleRegisterRoomVisibility()">Register Rooms</button>
</div>
<app-card *ngIf="registerHostelVisibility"
    baseStyles="card card-compact bg-base-100 shadow-xl border border-[#5D5D81]"><hostel-registration-form /></app-card>
<app-card *ngIf="registerRoomVisibility"
    baseStyles="card card-compact bg-base-100 shadow-xl border border-[#5D5D81] mt-5"><rooms-registration-form /></app-card>
<app-card *ngIf="!registerHostelVisibility" [title]="'Hostels List'"
    baseStyles="card card-compact bg-base-100 shadow-xl border border-[#5D5D81] my-5">
    <app-table [TableData]="hostelsData" />
</app-card>
<app-card *ngIf="!registerRoomVisibility" [title]="'Rooms List'"
    baseStyles="card card-compact bg-base-100 shadow-xl border border-[#5D5D81] my-5">
    <app-table [TableData]="roomsData" /></app-card>