<div class="mt-4 flex-1 px-4 sm:px-9 py-4 sm:py-[30px] rounded-lg bg-primary dark:bg-primary-alt md:mt-6">
    <h1 class="text-2xl md:text-[35px] dark:text-white font-bold sm:text-center">STUDENT ACCOMMODATION DETAILS</h1>
    <p class="my-3 md:my-5 text-sm dark:text-white">
        View a clear and detailed overview of your accommodation details. All your key information, including room
        number,
        hostel name, and any required actions, is
        neatly displayed in an easy-to-read table. With everything organized in one place, this page helps you stay on
        top
        of your application journey effortlessly.
    </p>
    <app-card [cardStyles]="'bg-primary dark:bg-primary-alt shadow-xl rounded-lg p-6 block mt-6 w-full'">
        @if (applicationResource.isLoading()) {
        <div class="flex items-center space-x-2 text-accent">
            <span class="animate-pulse">
                <svg class="size-5 animate-spin" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24">
                    <circle class="opacity-25" cx="12" cy="12" r="10" stroke="currentColor" stroke-width="4" />
                    <path class="opacity-75" fill="currentColor" d="M4 12a8 8 0 018-8V0C5.373 0 0 5.373 0 12h4z" />
                </svg>Loading user applications ... Please Wait</span>
        </div>
        }
        @else if (applicationResource.error(); as error) {
        @if (isNotFoundError(error)) {
        <div class="py-2">
            <h5 class="mr-3 font-semibold dark:text-white">List of Applications</h5>
            <p class="flex items-center text-red-500 dark:text-error gap-1 py-2">
                <svg class="size-5" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24">
                    <circle cx="12" cy="12" r="10" stroke="currentColor" stroke-width="2" />
                    <path stroke="currentColor" stroke-width="2" stroke-linecap="round" d="M12 8v5" />
                    <circle cx="12" cy="16.5" r="1" fill="currentColor" />
                </svg>
                No application were found.
            </p>
        </div>
        } @else{
        <div class="text-red-500 dark:text-error py-2">
            <p class="flex items-center gap-1">
                <svg class="size-5" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24">
                    <circle cx="12" cy="12" r="10" stroke="currentColor" stroke-width="2" />
                    <path stroke="currentColor" stroke-width="2" stroke-linecap="round" d="M12 8v5" />
                    <circle cx="12" cy="16.5" r="1" fill="currentColor" />
                </svg>
                Failed to load application details. Please try again.
            </p>

            <button (click)="applicationResource.reload()" class="mt-2 text-sm underline text-accent font-medium">
                Retry Connection
            </button>
        </div>}
        } @else if (firstApplication(); as application) {
        <div class="space-y-6 dark:text-white">
            <div>
                <h5 class="mr-3 font-semibold dark:text-white">List of User Applications</h5>
                <p class="text-gray-500">View details of the user applications.</p>
            </div>
            <div class="mt-6">
                <div class="mb-8">
                    <h3 class="text-lg font-semibold pb-2 border-b border-gray-200 mb-4">
                        Personal Information
                    </h3>
                    <div class="grid md:grid-cols-2 gap-4">
                        <!-- <div>
                            <span class="font-medium text-gray-600">Application ID:</span>
                            <span class="ml-2">{{ application.a}}</span> 
                        </div> -->
                        <div>
                            <span class="font-medium text-gray-600">Application Period:</span>
                            <span class="ml-2">{{ application.applicationPeriod }}</span>
                        </div>
                        <div>
                            <span class="font-medium text-gray-600">Registration Number:</span>
                            <span class="ml-2">{{ application.registrationNo }}</span>
                        </div>
                        <div>
                            <span class="font-medium text-gray-600">Status:</span>
                            <span class="ml-2">{{ application.status }}</span>
                        </div>
                        <div>
                            <span class="font-medium text-gray-600">Preferred Hostel:</span>
                            <span class="ml-2">{{ application.preferredHostel }}</span>
                        </div>
                        <div>
                            <span class="font-medium text-gray-600">Room Number:</span>
                            <span class="ml-2">{{ application.roomNo || 'Not Assigned' }}</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        }
        @else {
        <p class="dark:text-white text-gray-500">No application session active.</p>
        }
    </app-card>
</div>