<div class="max-w-lg mx-auto my-[5%]">
    <form action="" class="border border-solid border-[#5D5D81] rounded-lg shadow-[0_4px_6px_rgba(0,0,0,0.1)] py-[5%]">
        <div class="flex flex-col items-center">
            <h2 class="text-[35px] text-center font-bold">LOG IN</h2>
            <div class="mt-8 mx-auto">
                <div class="mb-6 ">
                    <label for="first-name" class="block text-sm/6 font-medium">First name</label>
                    <div class="mt-2">
                        <input type="text" name="first-name" id="first-name" class="border border-gray-300 rounded-md p-2">
                    </div>
                </div>

                <div class="mb-6">
                    <label for="last-name" class="block text-sm/6 font-medium">Last name</label>
                    <div class="mt-2">
                        <input type="text" name="last-name" id="last-name" class="border border-gray-300 rounded-md p-2">
                    </div>
                </div>

                <button type="submit" class="btn btn-secondary mb-3">Sign UP</button>
            </div>
        </div>
    </form>
</div>