<header>
    <nav class="w-full border-b border-gray-100 dark:border-gray-700 bg-secondary shadow-sm dark:bg-primary-alt">
        <div class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8">
            <!-- Main navbar row -->
            <div class="flex h-16 items-center justify-between">
                <a routerLink="/" class="shrink-0" (click)="closeMobileMenu()">
                    <span class="text-2xl dark:text-white font-bold tracking-tight text-gray-900">
                        UHB
                    </span>
                </a>
                <div class="flex items-center">
                    <!-- Desktop navigation -->
                    <app-theme-toggle />
                    <div class="hidden items-center gap-1 lg:flex">
                        <a routerLink="/auth"
                            class="font-semibold py-2 px-[1.1rem]! rounded-md bg-base text-center text-sm font-semibold text-white hover:accent focus:outline-none focus:ring-2 focus:ring-accent focus:ring-offset-1 transition-all duration-200 ease-in">
                            Get Started
                        </a>
                    </div>

                    <!-- Mobile hamburger -->
                    <button type="button"
                        class="inline-flex items-center justify-center rounded-md p-2 text-gray-600 transition hover:ring-2 hover:ring-base hover:text-gray-900 focus:outline-none focus:ring-2 focus:ring-base dark:focus:ring-none lg:hidden"
                        [attr.aria-expanded]="mobileMenuOpen()" aria-controls="mobile-menu"
                        (click)="toggleMobileMenu()">

                        <span class="sr-only">
                            {{ mobileMenuOpen() ? 'Close main menu' : 'Open main menu' }}
                        </span>

                        @if (!mobileMenuOpen()) {
                        <svg class="h-6 w-6" fill="none" stroke="currentColor" viewBox="0 0 24 24">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                d="M4 6h16M4 12h16M4 18h16" />
                        </svg>
                        } @else {
                        <svg class="h-6 w-6" fill="none" stroke="currentColor" viewBox="0 0 24 24">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                d="M6 18L18 6M6 6l12 12" />
                        </svg>
                        }

                    </button>
                </div>
            </div>

            <!-- Mobile menu -->
            @if (mobileMenuOpen()) {
            <div id="mobile-menu" class="py-3 lg:hidden">
                <div class="flex flex-col gap-1">
                    <!-- Mobile Get Started -->
                    <a routerLink="/login"
                        class="mt-2 block rounded-md bg-base px-5 py-2.5 text-center text-sm font-semibold text-white transition hover:accent focus:outline-none focus:ring-2 focus:ring-blue-500 focus:ring-offset-2"
                        (click)="closeMobileMenu()">
                        Login
                    </a>
                    <a routerLink="/signup"
                        class="mt-2 block rounded-md bg-base px-5 py-2.5 text-center text-sm font-semibold text-white transition hover:accent focus:outline-none focus:ring-2 focus:ring-blue-500 focus:ring-offset-2"
                        (click)="closeMobileMenu()">
                        Sign Up
                    </a>

                </div>
            </div>
            }

        </div>
    </nav>
</header>