<div class="font-sans text-gray-800">
  <div class="max-w-6xl mx-auto px-4 py-6">
    <app-button
      [buttonProps]="{text: '← Back to Applications', variant: 'secondary',size: 'sm', buttonClass: 'mb-6 hover:underline', route:'/uhb/housekeeper' }" />

      <div class="rounded-lg shadow-md p-6">
        <div class="flex justify-between items-center mb-6">
          <h1 class="text-2xl font-bold text-gray-800">Application Details</h1>
          <span class="px-4 py-1 rounded-full text-sm font-semibold badge badge-warning text-neutral">
            Pending Review
          </span>
        </div>

        <div class="mb-8">
          <h3 class="text-lg font-semibold pb-2 border-b border-gray-200 mb-4">
            Personal Information
          </h3>
          <div class="grid md:grid-cols-2 gap-4">
            <div>
              <span class="font-medium text-gray-600">Application ID:</span>
              <span class="ml-2">APP23456</span>
            </div>
            <div>
              <span class="font-medium text-gray-600">Submission Date:</span>
              <span class="ml-2">March 10, 2025</span>
            </div>
            <div>
              <span class="font-medium text-gray-600">Student ID:</span>
              <span class="ml-2">STU12345</span>
            </div>
            <div>
              <span class="font-medium text-gray-600">Student Name:</span>
              <span class="ml-2">John Smith</span>
            </div>
            <div>
              <span class="font-medium text-gray-600">Gender:</span>
              <span class="ml-2">Male</span>
            </div>
            <div>
              <span class="font-medium text-gray-600">Year of Study:</span>
              <span class="ml-2">2nd Year</span>
            </div>
          </div>
        </div>

        <div class="mb-8">
          <h3 class="text-lg font-semibold pb-2 border-b border-gray-200 mb-4">
            Needs Assessment Information
          </h3>
          <div class="grid md:grid-cols-2 gap-4">
            <div>
              <span class="font-medium text-gray-600">Disabled:</span>
              <span class="ml-2">No</span>
            </div>
            <div>
              <span class="font-medium text-gray-600">Disability Details:</span>
              <span class="ml-2">Not Applicable</span>
            </div>
            <div>
              <span class="font-medium text-gray-600">Accommodated within university before:</span>
              <span class="ml-2">No</span>
            </div>
            <div>
              <span class="font-medium text-gray-600">Accommodation Period:</span>
              <span class="ml-2">Not Applicable</span>
            </div>
            <div>
              <span class="font-medium text-gray-600">Sponsored:</span>
              <span class="ml-2">No</span>
            </div>
            <div>
              <span class="font-medium text-gray-600">Sponsor Details:</span>
              <span class="ml-2">Not Applicable</span>
            </div>
            <div>
              <span class="font-medium text-gray-600">Receives Helb:</span>
              <span class="ml-2">No</span>
            </div>
            <div>
              <span class="font-medium text-gray-600">Helb Amount:</span>
              <span class="ml-2">Not Applicable</span>
            </div>
            <div>
              <span class="font-medium text-gray-600">Received Bursary Before:</span>
              <span class="ml-2">No</span>
            </div>
            <div>
              <span class="font-medium text-gray-600">Bursary Amount:</span>
              <span class="ml-2">Not Applicable</span>
            </div>
            <div>
              <span class="font-medium text-gray-600">Work Study Benefits Before:</span>
              <span class="ml-2">No</span>
            </div>
            <div>
              <span class="font-medium text-gray-600">Work Study Period:</span>
              <span class="ml-2">Not Applicable</span>
            </div>
            <div>
              <span class="font-medium text-gray-600">Deferred before:</span>
              <span class="ml-2">No</span>
            </div>
            <div>
              <span class="font-medium text-gray-600">Defer Period:</span>
              <span class="ml-2">Not Applicable</span>
            </div>
          </div>
          <div class="mt-4">
            <span class="font-medium text-gray-600">Reasons for consideration:</span>
            <span class="ml-2">I am worth it.</span>
          </div>
        </div>

        <div class="mb-8">
          <h3 class="text-lg font-semibold pb-2 border-b border-gray-200 mb-4">
            Accommodation Preferences
          </h3>
          <div class="grid md:grid-cols-2 gap-4">
            <div>
              <span class="font-medium text-gray-600">Hostel Preference:</span>
              <span class="ml-2">Batian Hostel Residence</span>
            </div>
            <div>
              <span class="font-medium text-gray-600">Hostel Type:</span>
              <span class="ml-2">Male Hostel</span>
            </div>
          </div>
        </div>

        <div class="mb-8">
          <h3 class="text-lg font-semibold pb-2 border-b border-gray-200 mb-4">
            Review Application
          </h3>
          <div class="bg-blue-100 rounded-md p-6">
            <h3 class="text-lg font-semibold text-blue-600 mb-4">Review Application</h3>
            <form id="reviewApplicationForm" [formGroup]="reviewApplication" (ngSubmit)="onSubmit()"
              #form="ngForm">
              <div class="grid md:grid-cols-2 gap-6 mb-4">
                <div>
                  <label for="reviewApplication" class="block mb-2 font-medium">Accept or Reject:</label>
                  <select id="reviewApplication" formControlName="acceptApplication"
                    class="w-full px-4 py-2 border border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-blue-500"
                    required>
                    <option value="" selected disabled>Review Application</option>
                    <option value="Accepted">Accept</option>
                    <option value="Rejected">Reject</option>
                  </select>
                  @if (reviewApplication.get('acceptApplication')?.invalid && form.submitted) {
                    <p
                      class="text-red-500 text-xs ml-1">
                      Review application value is required.
                    </p>
                  }
                </div>
                @if (reviewApplication.get('acceptApplication')?.value === 'Accepted') {
                  <div>
                    <label for="hostelBuilding" class="block mb-2 font-medium">Hostel Building:</label>
                    <select id="hostelBuilding" formControlName="hostelName"
                      class="w-full px-4 py-2 border border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-blue-500">
                      <option value="">Select Hostel Building</option>
                      <option value="north">North Campus Residence</option>
                      <option value="south">South Campus Residence</option>
                      <option value="east">East Wing Residence</option>
                      <option value="west">West Wing Residence</option>
                    </select>
                  </div>
                }
              </div>

              <app-button [buttonProps]="submitButtonProps" />
              <!-- <button type="submit"
              class="bg-blue-500 hover:bg-blue-600 text-white font-medium py-2 px-6 rounded-md focus:outline-none focus:ring-2 focus:ring-blue-500 focus:ring-offset-2">
              Review Application
            </button> -->
          </form>
          <app-toast [styles]="toastStyles()" [showToast]="toastVisible()" [alertStyle]="alertStyles()" [alertMessage]="alertMessage()" />
          </div>
        </div>
      </div>
    </div>
  </div>