<h1 class="text-[35px] font-bold text-center">STUDENT ACCOMMODATION DETAILS</h1>
<p class="my-5">View a clear and detailed overview of your accommodation. All your key information, including room
    number, hostel name, and any required actions, is
    neatly displayed in an easy-to-read table. With everything organized in one place, this page helps you stay on top
    of your application journey effortlessly.</p>
<app-card [title]="cardTitle">
    <app-table [TableData]="tableData" />
</app-card>