<h1 class="text-[35px] font-bold text-center">WELCOME TO UNIVERSITY HOSTEL BOOKING SYSTEM</h1>
<p class="my-5">Welcome to the University Hostel Booking System! We're thrilled to have you here as part of our
    community. To get started, please take a moment to fill in your details below. This information will help us create your profile and ensure
    a smooth booking experience for you. We’re excited to assist you in finding the perfect accommodation!</p>
<form class="flex flex-1 flex-col mx-auto m-[2%] p-[2%] border border-[#5D5D81] shadow-xl rounded-lg">
    <h3 class="text-lg font-bold text-center">STUDENT REGISTRATION FORM</h3>

    <label for="fname" class="label text-lg font-medium">Registration Number:</label>
    <input type="text" id="fname" name="registrationNo" class="input input-bordered input-sm bg-white"
        placeholder="Registration Number">
    <label for="Surname" class="label text-lg font-medium">Surname:</label>
    <input type="text" id="lname" name="Surname" class="input input-bordered input-sm bg-white" placeholder="Surname" />
    <label for="fname" class="label text-lg font-medium">First Name:</label>
    <input type="text" id="lname" name="fname" class="input input-bordered input-sm bg-white"
        placeholder="First Name" />
    <label for="lname" class="label text-lg font-medium">Second Name:</label>
    <input type="text" id="lname" name="lname" class="input input-bordered input-sm bg-white"
        placeholder="Second Name" />
    <label for="gender" class="label text-lg font-medium">Gender:</label>
    <select class="select bg-white select-sm">
        <option disabled selected>Select one</option>
        <option>Male</option>
        <option>Female</option>
      </select>
    <div class="">
        <button type="submit" class="btn btn-secondary mt-4">Submit</button>
    </div>
</form>