<div class="navbar bg-secondary">
  <div class="navbar-start">
    <div class="dropdown">
      <div tabindex="0" role="button" class="btn btn-ghost lg:hidden">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
          class="inline-block h-5 w-5 stroke-current">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16"></path>
        </svg>
      </div>
      <app-navlinks [tabindex]="0" [class]="sidebarClass" />
    </div>
    <a class="btn btn-ghost text-xl text-white">University Hostel Booking System</a>
  </div>
  <div class="navbar-end hidden lg:flex">
    <app-navlinks [class]="navbarClass" />
  </div>
</div>