/* You can add global styles to this file, and also import other style files */
@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

@theme {
    /* --color-primary: #F7F9FC; */
    --color-primary: #EEF2FF;
    --color-primary-alt: #171F2E;
    /* --color-secondary: #5D5D81; */
    --color-secondary: #F3F4F6;
    /* --color-accent: #33B0EB; */
    --color-accent: #33B0EB;
    --color-neutral: #080F0f;
    --color-info: #00aefb;
    --color-success: #009c56;
    --color-base: #5DBEFF;
    --color-warn: #ff9000;
    --color-error: #ff6c75;
}