<nav aria-label="Breadcrumb">
    <ol class="flex items-center gap-2 text-sm">
        @for (breadcrumb of breadcrumbs(); track breadcrumb.url; let last = $last) {
        <li class="flex items-center gap-2">
            @if (!last) {
            <a [routerLink]="breadcrumb.url" class="transition dark:text-white">
                {{ breadcrumb.label }}
            </a>
            <span class="text-gray-400" aria-hidden="true">
                /
            </span>
            } @else {
            <a class="font-medium text-accent" aria-current="page">
                {{ breadcrumb.label }}
            </a>
            }
        </li>
        }
    </ol>
</nav>